body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Roboto', sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
    }
    75% {
		background-position: 100% 50%;
    }
    100% {
		background-position: 0% 50%;
    }
}
body.circular-gradient {
    background: radial-gradient(circle, #8e54d5, #de7a00);
    background-size: cover;
}

.text-image {
    width: 600px;
    height: auto;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.map-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.nwsection1 {
    position: fixed;
    top: 29%;
    left: 32%;
    width: 20%;
    height: 23%;
    /* background-color: rgba(255, 0, 0, 0.5); */
    z-index: 2;
}

.swsection1 {
    position: fixed;
    top: 48%;
    left: 31%;
    width: 20%;
    height: 26%;
    /* background-color: rgba(42, 188, 164, 0.5); */
    z-index: 2;
}
.sesection1 {
    position: fixed;
    top: 42%;
    left: 49%;
    width: 20%;
    height: 30%;
    /* background-color: rgba(127, 85, 218, 0.5); */
    z-index: 2;
}
.esection1 {
    position: fixed;
    top: 32%;
    left: 48%;
    width: 20%;
    height: 17%;
    /* background-color: rgba(148, 208, 8, 0.5); */
    z-index: 2;
}

.map-image {
    width: 800px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: transform 0.5s ease;
}

/* .map-image:hover {
    transform: translate(-50%, -50%) scale(1.1);
} */
.popupContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    background-color: rgba(12, 255, 251, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#popupText {
    display: block;
    margin-bottom: 50px;
}

.popupButton {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(255, 247, 179);
    color: rgb(101, 28, 28);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.popupButton:hover {
    background-color: white;
}

svg path {
    fill:transparent;
    stroke: #eee;
    stroke-width: 0.25;
}
svg path:hover {
    fill:rgb(220, 217, 37);
    fill-opacity: 45%;
    transition: 0.6s;
    cursor: pointer;
}